*{
    margin: 0%;
    padding: 0%;
}


.container{
    background-color:#1f2937;
    padding: 50px;
    margin:0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #f9faf8;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    align-items: flex-start;
}
a{
    color: #f9faf8;
    text-decoration: none;
    padding: 12px;
    font-weight: bold;
    font-size: 18px;
}

.container-2{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 20px;
    justify-content: space-between;
    text-align: center;
}

h1{
    color: #f9faf8;
    font-size: 48px;
}

.header{
    color: #e5e7eb;
    font-size: 18px;
}

.button-1{
    background-color:#3882f6;
    border-radius: 8px;
    padding:8px;
    border: none;
    width: 100px;
}

.placeholder{
    background-color: gray;
    padding: 95px;
    margin: 50px;
    justify-content: center;
    text-align: center;
    width: 300px;
}

.header-2{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 36px;
    font-weight: bold;

}

.information{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 60px;
}

.text{
    font-weight: bold;
}

.empty-spaces{
    border: solid 2px blue;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.quote{
display: flex;
background:#e5e7eb;
color: #1f2937;
height: 250px;
font-size: 36px;
justify-content: center;
align-items: center;
padding: 40px;
font-style: italic;
margin-top: 60px;
}

.quote-text{
    width: 500px;
}

.author{
    padding-left: 300px;
    font-weight: bolder;
}

.container-3{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.signup{
    background-color: #3882f6;
    height: 80px;
    margin-top: 40px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

