*{
    margin: 0%;
    padding: 0%;
}

.container{
    background-color:#1f2937;
    padding: 30px;
    margin:0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #f9faf8;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    align-items: flex-start;
}
a{
    color: #f9faf8;
    text-decoration: none;
    padding: 12px;
    font-weight: bold;
}

.container-2{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
}

h1{
    color: #f9faf8;
    font-size: 48px;
}

.header{
    color: #e5e7eb;
}


